
:root {
    --PrimaryColor: hsl(238, 89%, 64%);
    --SecondaryColor: hsl(257, 80%, 68%);
    --gradientColor: linear-gradient(to left, hsl(240, 78%, 60%), hsl(254, 86%, 66%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

// from navbar.jsx header
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;   /* center or space-between! now it's spaced and regular lol */
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgb(2, 15, 29, 0.242); 

    .logo {
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(5px);
        }
    }


    /* top bar or something !!!! lol */
    @media screen and (max-width: 768px) {
        .navBar {
            position: absolute;
            background: var(--whiteColorDeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem; // makes da box bigger from the top n bottom? maybe all
            transform: translate(-50%);   /* ??? */
            z-index: 2000;
            box-shadow: 0 2px 4px rgb(2, 15, 29, 0.904);
            transition: 0.5s ease-in-out;   /* how long it takes for box to slide in!*/


            .navLists {
                flex-direction: column;   /* how box stays aligned when moved (vertical) */
                justify-content:  center;
                width: 100%;
                margin: auto;
                padding: 0.5rem 0;

                .navItem{
                    padding: 0.5rem 0;

                    .navLink {
                        color: var(--textColor);
                        font-size: 0.9rem;
                        font-weight: 600;
                        &:hover {               /* when hovering changes color! */
                            color: var(--PrimaryColor);
                        }
                    }

                }

                .btn {
                    margin-top: 1rem;
                    /* font more bold for buttons? */
                    a {
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                }

            }


            .closeNavbar {     /* idk what close means */
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);

                &hover {
                    color: var(--SecondaryColor);
                }
            }


        }

        .activeNavbar {    // POSITION WHEN ITS ACTIVE (clicked) shownav in navbar.jsx
            top: 7rem;
        }

    }

    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
        }
        &:hover.icon{
            color: var(--SecondaryColor);
        }
    }

}


// make the navBar actually cute
@media screen and (min-width: 769px) {
    .toggleNavbar,.closeNavbar {
        display: none;
    }


    .header {
        padding: 1.5rem 2rem;

        .navBar {
            .navLists {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .navItem {
                    .navLink {
                        color: var(--textColor);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:hover {
                            color: var(--PrimaryColor);
                        }
                    }

                }

                .btn {
                    margin-left: 1rem;
                    a {
                        color: var(--whiteColor);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 960px) {
    .header {
        .navBar {
            .navLists {
                .navItem {
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 124px) {
    .header {
        padding: 1rem 8.5rem;

        .navBar {
            .navLists {
                .navItem {
                    padding: 0 0.7rem;
                }
            }
        }
    }
}