:root {
    --PrimaryColor: hsl(238, 80%, 67%);
    --SecondaryColor: hsl(257, 80%, 68%);
    --gradientColor: linear-gradient(to left, hsl(240, 63%, 57%), hsl(254, 82%, 70%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}


.home {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(49, 35, 72);
        opacity: 30%;
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }


    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }


    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--whiteColor);
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle{
                position: relative;
                font-size: 1.8rem;
            }

        }

        .cardDiv {
            position: relative;
            padding: 2rem 1rem;
            background: var(--whiteColor);
            border-radius: 10px;
            gap: 1rem;

            label {
                display: block;
                color: hsl(240, 19%, 42%);   // instr
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .label_total {
                justify-content: space-between;
                align-items: center;

                .total {
                    color: hsl(240, 19%, 42%); // money
                    font-size: 18px;
                    padding-bottom: 10px;

                }
            }

            .input {
                height: 40px;
                padding: 0 1rem;
                background: var(--inputColor);
                border-radius: 3rem;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;
                    &::placeholder {
                        font-size: 13px;
                    }
                }


                .icon {
                    font-size: 18px;
                    color: var(--PrimaryColor)
                    !important;    // WHAT?
                    margin-left: 10px;
                }

                .input[type=range]{
                    background: rgb(132, 47, 202);
                    //color: rgb(132, 47, 202);
                }

            }

            .searchOptions {
                position: absolute;
                background: var(--gradientColor);
                width: max-content;
                bottom: -0.7rem;
                column-gap: 0.8rem;
                padding: 5px 1rem;   //why
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;    // why here and not lower i guess like in hover?
                &:hover {
                    background: var(--PrimaryColor);

                }

                .icon {
                    font-size: 18px;
                }

                .span {
                    font-size: 13px;
                }

            }
        }
        
        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;   // space between left and right

            .icon {
                font-size: 20px;   // icon size
                margin: 0 5px;  // puts space between them?
                color: var(--whiteColor);
                font-weight: 600;
                &:hover {
                    color: var(--PrimaryColor);
                }
            }
        }
    }
}


